.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid

    span{
        &:first-child {
            font-weight: bold;
        }
        &:last-child {
            font-size: 12px;
        }
    }
}